<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Complexity Measures for Reinforcement Learning (CM4RL - NeurIPS 2021)</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/style.css" rel="stylesheet">
</head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">

  <div class="container-fluid" id="header">
    <a class="navbar-brand" href="#">CM4RL</a>

    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> <!-- navbar-header -->

    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/format.html">How to Participate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/livestream.html">Livestream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedule.html">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/speakers.html">Speakers & Panelists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/papers.html">Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resources.html">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/submit.html">Submit</a>
        </li>
      </ul>

    </div> <!-- navbar-main -->

  </div>

</nav> <!-- navbar -->

<body class="bg-light">
  <div class="container" id="content">

    <div class="page-content">

<!--      <div class="row justify-content-center">-->
<!--        <h1 class="display-2 text-center">Complexity Measures for Reinforcement Learning (CM4RL)</h1>-->
<!--        <div class="break"></div>-->
<!--        <h4 class="text-center"><a href="https://neurips.cc/Conferences/2021/">Thirty-fifth Conference on Neural Information Processing Systems (NeurIPS)</a></h4>-->
<!--        <div class="break"></div>-->
<!--        <h4 class="text-center">TBD</h4>-->
<!--        <div class="break"></div>-->
<!--        <h4 class="text-center"><a href="#" target="_blank">@cm4rlworkshop</a> · <a href="" target="_blank">#CM4RL2021</a></h4>-->
<!--        <hr>-->
<!--      </div> &lt;!&ndash; row &ndash;&gt;-->
      <div class="row">
          <div class="jumbotron">
            <h1 class="display-4 text-center">Complexity Measures for Reinforcement Learning (CM4RL)</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
      </div>


      {{ content }}

    </div> <!-- container -->

  </div> <!-- page-content -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
